node_modules
dist
.env
.env.*
npm-debug.log
Dockerfile
docker-compose.yml
.git
.gitignore
*.log
*.md
*.tsbuildinfo
.env.local
.env.development
.env.production
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
Thumbs.db